body{
    background-color: rgb(159, 198, 183);
    margin: 0;
}
.shipping-announcement{
    background-color: rgb(5, 94, 70);
    color: white;
    padding: 2px;
    display: flex;
    justify-content: center;
    font-size: 15px;
}
.logo{
    width: 200px;
}
.logo-div{
    display: flex;
    justify-content: center;
}
nav{
    background-color: rgb(2, 62, 69);
    padding: 12px;
    display: flex;
    justify-content: space-around;
    padding-left: 30px;
    padding-right: 50px;
    margin-bottom: 10px;
}
.nav-links{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.nav-links:hover, .shop-buttons:hover{
    color: rgb(82, 255, 137);
}
.category-selection{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.category-selection-mobile{
    display: none;
}
.category-images{
    width: 250px;
    padding: 8px;
}
.category-images:hover, .follow-us:hover{
    opacity: 0.5;
}
.order-text{
    font-size: 33px;
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.872);
    background-color: rgb(11, 38, 85);
    padding: 10px;
    margin-top: 33px;
    text-decoration: none;
}
.order-text:hover, .category-text-go-up:hover{
    color: rgb(71, 255, 154);
}
.chakra-text{
    color: rgb(3, 36, 27);
    padding-top: 30px;
    padding-left: 44px;
    padding-right: 44px;
    font-size: 20px;
    font-weight: 400;
}
.category-text{
    font-size: 33px;
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgba(2, 62, 69, 0.872);
    padding: 10px;
    margin-top: 33px;
}
.category-text-go-up{
    font-size: 22px;
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgba(21, 110, 120, 0.872);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
}
.cards-sections{
    display: grid;
    grid-template-columns: 50% 50%;
}
.cards{
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.cards-images{
    width: 600px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0;
}
.cards-images-chakra{
    width: 277px;
    margin-top: 40px;
    padding-left: 12px;
}
.cards-description-div{
    display: flex;
    justify-content: space-around;
}
.descriptions-text{
    margin-left: 15px;
    margin-right: 15px;
    color: rgb(3, 33, 33);
    font-weight: 400;
    font-size: 19px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: center;
}
.text-description-div{
    display: grid;
    grid-template-columns: 50% 50%;
}
.price-text{
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(3, 33, 33);
    font-weight: bolder;
    font-size: 19px;
    margin-top: 0;
}
.descriptions{
    height: 92px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.shop-buttons-div{
    display: flex;
    justify-content: space-around;
}
.shop-buttons{
    text-decoration: none;
    color: white;
    background-color: rgb(2, 62, 69);
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 12px;
    padding-right: 12px;
}
footer{
    background-color: teal;
    color: rgba(255, 255, 255, 0.831);
    padding: 16px;
    display: flex;
    justify-content: center;
}
.promo{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.follow-us{
    width: 50%;
}
@media only screen and (max-width: 600px){
    .shipping-announcement{
        display: flex;
        justify-content: center;
        font-size: 10px;
    }
    nav{
        justify-content: space-around;
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 10px;
    }
    .order-text{
        font-size: 30px;
        margin-bottom: 20px;
    }
    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .follow-us{
        width: 333px;
    }
    .promo{
        margin-bottom: 5px;
    }
    .cards-images{
        width: 333px;
    }
    .descriptions{
        height: 99px;
    }
    .category-selection{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .category-text{
        font-size: 30px;
        padding: 8px;
    }
    .cards-sections{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}