body{
    background-color: rgb(159, 198, 183);
    margin: 0;
}
.shipping-announcement{
    background-color: rgb(5, 94, 70);
    color: white;
    padding: 2px;
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.logo{
    width: 200px;
}
.logo-div{
    display: flex;
    justify-content: center;
}
nav{
    background-color: rgb(2, 62, 69);
    padding: 12px;
    display: flex;
    justify-content: space-around;
    padding-left: 30px;
    padding-right: 50px;
    margin-bottom: 10px;
}
.nav-links{
    color: white;
    text-decoration: none;
    font-family: great-vibes, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
}
.nav-links:hover, .shop-all-button:hover, .imp-links a:hover{
    color: rgb(82, 255, 137);
}
.welcome-banner{
    background-image: url("./welcome-banner.png");
    background-size: contain;
    padding-top: 111px;
    padding-bottom: 111px;
    display: flex;
    justify-content: center;
    font-weight: 300;
}
.title{
    color: white;
    background-color: rgb(2, 62, 69);
    padding: 9px;
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}
.title2{
    color: white;
    background-color: rgb(15, 100, 109);
    margin-top: 0;
    margin-bottom: 33px;
    padding: 22px;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
}
.shop-all-button{
    text-decoration: none;
    font-size: 26px;
    display: flex;
    justify-content: center;
    background-color: rgb(60, 131, 130);
    padding-top: 6px;
    padding-bottom: 6px;
    color: white;
}
.order-text{
    font-size: 25px;
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.872) ;
    background-color: rgb(11, 38, 85);
    margin-top: 33px;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}
.order-div{
    text-decoration: none;
}
.order-text:hover{
    color: rgb(71, 255, 154);
}
.category-text{
    font-size: 33px;
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgba(2, 62, 69, 0.872);
    padding: 10px;
    margin-top: 33px;
    font-family: great-vibes, sans-serif;
    font-style: normal;
    font-weight: 400;
}
.cards{
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
}
.cards-images{
    width: 500px;
    padding: 30px;
}
.cards-images:hover, .follow-us:hover{
    opacity: 0.5;
}
.chakracollection-home{
    display: flex;
    justify-content: center;
}
footer{
    background-color: rgb(5, 94, 70);
    color: rgba(255, 255, 255, 0.831);
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.imp-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 10px;
}
.imp-links a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.831);
    padding: 6px;
}
.promo{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.follow-us{
    width: 555px;
}
@media only screen and (max-width: 600px){
    .shipping-announcement{
        display: flex;
        justify-content: center;
        font-size: 11px;
    }
    nav{
        justify-content: space-around;
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 10px;
    }
    .nav-links{
        font-size: 22px;
    }
    .title{
        font-size: 25px;
    }
    .title2{
        padding: 15px;
        font-size: 15px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 400;
        display: flex;
        justify-content: center;
    }
    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .cards-images{
        width: 299px;
    }
    .follow-us{
        width: 333px;
        margin-top: 5px;
    }
    .welcome-banner{
        padding-top: 66px;
        padding-bottom: 66px;
        font-size: 30px;
        background-size: 577px;
    }
    .shop-all-button{
        font-size: 18px;   
        padding-top: 4px;
        padding-bottom: 4px;
    }
    .category-text{
        font-size: 29px;
        padding: 8px;
    }
    .order-text{
        font-size: 19px;
        margin-bottom: 0;
    }
    footer p, footer b, footer a{
        font-size: 12px;
    }
    .promo{
        margin-bottom: 5px;
    }
}