body{
    background-color: rgb(159, 198, 183);
    margin: 0;
}
.shipping-announcement{
    background-color: rgb(5, 94, 70);
    color: white;
    padding: 2px;
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.logo{
    width: 200px;
}
.logo-div{
    display: flex;
    justify-content: center;
}
nav{
    background-color: rgb(2, 62, 69);
    padding: 12px;
    display: flex;
    justify-content: space-around;
    padding-left: 30px;
    padding-right: 50px;
    margin-bottom: 10px;
}
.nav-links{
    color: white;
    text-decoration: none;
    font-family: great-vibes, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    padding-top: 5px;
}
.nav-links:hover, .shop-all-button:hover, .imp-links a:hover{
    color: rgb(82, 255, 137);
}
.dropbtn {
    background-color: rgb(2, 62, 69);
    color: white;
    text-decoration: none;
    font-family: great-vibes, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-nav{
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(15, 100, 109);
    font-family: Georgia, 'Times New Roman', Times, serif;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 20px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
      background-color: #f1f1f1;
      color: rgb(2, 62, 69);
    }
  
  .dropdown-nav:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-nav:hover .dropbtn {
    color: rgb(82, 255, 137);
  }
main{
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(3, 33, 33);
    text-align: justify;
}
main div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    font-family: great-vibes, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    padding: 8px;
    background-color: rgb(2, 40, 69);
    color: white;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main p{
    font-size: 18px;
    font-family: 'Oxygen', sans-serif;
}
main h2{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
main h3{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.text-lists i{
    font-size: 18px;
    color: rgb(3, 33, 33);
}
footer{
    background-color: rgb(5, 94, 70);
    color: rgba(255, 255, 255, 0.831);
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.imp-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 10px;
}
.imp-links a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.831);
    padding: 6px;
}
@media only screen and (max-width: 600px){
    .shipping-announcement{
        display: flex;
        justify-content: center;
        font-size: 11px;
    }
    nav{
        justify-content: space-around;
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 10px;
    }
    .nav-links, .dropbtn{
        font-size: 22px;
    }
    .title{
        font-size: 18px;
    }
    main{
        padding: 20px;
    }
    main p, main h3{
        font-size: 15px;
    }
    .text-lists i{
        font-size: 15px;
    }
    main h2{
        font-size: 18px;
  
    }
    footer{
        font-size: 14px;
    }
    .dropdown-content a{
        font-size: 12px;
    }
}